
div{
   margin: 0px;
background-color:#A0E4CB;

}

#no:hover{
color: #78DEC7;
cursor: pointer;
}

   h1{
      margin: 0px;
       }
body{
background-color:#CBEDD5;
 margin: 0px;
   }

.new{
padding: 10px;
text-align: center;
}

#nope:hover{
   cursor: pointer;
color: #78DEC7;

}

.good {

background-color: #CBEDD5;
}

.bottom {
   -webkit-text-fill-color: white;
  margin-left: 760px;
   width: 300px;
   height: 300px;
background-color: #A0E4CB;
margin-right: 200px;
padding: 20px;
text-align: center;
}

.top{

   margin-left: 200px;
   width: 300px;
   height:300px;
   background-color: #A0E4CB;
   padding: 20px;
   text-align: center;
   -webkit-text-fill-color: white;

}

h1{
font-family: 'serif';
}

.great{
width:300px;
background-color: #A0E4CB;
height: 300px;
margin-left: 200px;
padding: 20px;
text-align: center;
-webkit-text-fill-color: white;
}

h3{



}








