
/************TAGS SECTION***********/


body{
 
   background-color:#CBEDD5;
   margin: 0px;
text-align: center;
font-family: "merriweather","serif";
}
div{
   margin: 0px;
background-color:#A0E4CB;

}


h2{

   color: #66bfbf;
font-weight: normal;
 
}

h3{

   font-family:"montserrat","serif";
   color: #66bfbf;
}



h1{

margin: 0px;
 color: #66bfbf;


}

hr{
   border-width: 5%;
border-style: dotted;
color: white;
border-color: white;
}





hr{

border-style: dotted none none none;
border-color: white;
border-width: 6px;
width: 5%;

}

h2{

   font-family: "monserrat" , "serif";
   
   }

 


/*************CLASS SECTION***********/



.sub-heading{

   font-weight: normal;
   font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  
}

.top-container {

   background-color: #CBEDD5;
   }
   h3:hover{
   
   cursor: pointer;
   
   }
   .middle-container{


   
   }
   
   .top-contaner{
   
   
   
   }

.btn{
background-color: #66bfbf;
color: white;
border-radius: 4px;
padding: 7px;

}



.heading{
   padding: 10px;
   text-align: center;
   }

   .bottom-container{

   

   }

   

  
   
   .contact-me{
   
      padding-bottom: 30px;
   }
   
   .skill-img{
   
      float: left;
      margin-right: 30PX;
      width: 25%;
   padding-top: 15px;
   
   }

   .drawing-img{

float: right;
width: 25%;
padding-top: 15px;
margin-left: 30px;
   }
   

   
   .profile-img{
   padding-top: 30px;
   height:200px;
   width: 200px;

   }
   
   
   
   .top-cloud{
   position:absolute;
   top:100px;
   
   }
   
   .bottom-cloud{
   
      position:absolute;
      left: 200px;
      top: 200px;
      
   }
   
   
   
   .skill-row{
   
   width: 50%;
   position:relative;
   left: 25%;
   margin: 100px 0 100px 0;
    line-height: 2;
   }
   
.description{

display: inline-block;
width: 50%;

}



   /*****************ID SECTION*******************/

#Heading:hover{
color:#78DEC7;
cursor: pointer;

}



#Heading{

  
   margin: 50px auto 0 auto;
   font-size: 3rem;
   font-family:"sacramento","serif";

}





#sub-heading:hover{
   cursor: pointer;
color: #78DEC7;

}

#nope{

   font-family: "monserrat","serif";


}

h3{

   font-family:"montserrat","serif";

}

h1{
font-family: 'serif';
}


